@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Merriweather:ital,wght@1,300&display=swap');

*{
  margin: 0;
  padding: 0;
}
html,body{
  height: 100%;
  width: 100%;
}
header{
  width: 100%;
  padding: 20px 0;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  background-color: #F2F2F2;
  .header__section--img{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: 2px dotted rgb(212, 16, 16);
    overflow: hidden;
    background-image: url(../img/steve.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    margin: 0 auto;
  }
  .header__title{
    font-family: 'Merriweather', serif;
    font-size: 18px;
    text-align: center;
    margin: 10px;
  }
  .header__description{
    text-align: justify;
    max-width: 275px;
    margin: 0 auto;
    padding: 0 10px;
  }
}
main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 20px 0;
  article{
    height: 400px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgb(32, 32, 32);
    overflow: hidden;
    cursor: pointer;
    .article__banner{
      height: 200px;
      width: 100%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      filter: grayscale(100%);
      transition: filter 0.7s;
    }
    &:hover .article__banner{
      filter: grayscale(0%);
    }
    .article__text{
      padding: 15px;
      h2{
        font-size: 18px;
        font-family: 'Lato', sans-serif;
        margin: 10px 0 20px 0;
      }
      .article__tags__ul{
        list-style: none;
        display: flex;
        justify-content:flex-start;
        li{
          margin-right: 10px;
          color: white;
          border-radius: 50px;
          font-size: 12px;
          letter-spacing: 0.6px;
          padding: 3px 10px;
        }
      }
      .article__platform__ul{
        height: 90px;
        padding: 5px;
        list-style: none;
        display: flex;
        flex-direction : column;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-content: flex-start;
        background-color: rgb(230, 228, 212);
        li{
          color: #000000;
          font-size: 10px;
          font-style: italic;
          font-family: 'Lato', sans-serif;
          font-weight: 600;
          margin: 0 7px 0 0;
          &::before{
            content: "\2192";
          }
        }
      }
    }
  }

  /* -------- BONUS -------- */

  .bonus__sortContainer{
    display: block;
    width: 100%;
    height: 50px;
    padding: 15px 40px;
    margin: 0 0 15px 0;
    .bonus__sortSelect{
      width: 150px;
      height: 25px;
      margin-left: 25px;
      .bonus__sortOptions{

      }
    }
  }

  .bonus__removeButton{
    height: 35px;
    width: 35px;
    background-color: red;
    position: absolute;
    right: 0;
    text-align: center;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 35px;
    filter: grayscale(1);
  }
  /* ----------------------- */
}

@media screen and (min-width: 576px) {
  header{
    display: grid;
    grid-template-columns: 140px 1fr;
    grid-template-rows: 40px 50px;
    overflow: hidden;
    .header__section--img{
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column: 1;
      height: 85px;
      width: 85px;
    }
    .header__title{
      grid-row: 1;
      grid-column: 2;
      text-align: left;
    }
    .header__description{
      grid-row: 2;
      grid-column: 2;
      max-width: none;
      width: 90%;
      margin: 0;
    }
  }
}

@media screen and (min-width: 1200px) {
  body{
    background-color: #F2F2F2;
  }
  header, main{
    width: 1000px;
    margin: 0 auto;
  }
  main{
    min-height: 100%;
  }
}